@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* { 
    margin: 0; 
    padding: 0; 
    border: 0;
}

body { 
    font-family:'Lato', sans-serif;
    font-weight: normal;
    min-height: 100%;
}

a {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	letter-spacing: 0.25em;
  	transition: all 0.3s ease-in-out 0.2s;
	transition: letter-spacing 0.8s, text-transform 0.8s;
} a:hover {
  	transition: all 0.3s ease-in-out 0.1s;
	letter-spacing: 3.35em;
	/* text-transform: uppercase; */
}

p {
	font-size: 0.625em;
}

.glitch_img{
	position: absolute;
	top: 50%;
    left: 50%;
    max-width: 80%;
    max-height: 100%;
    margin-top: -200px;
    margin-left: -200px;
    background: url('../images/landing-page-img.jpeg');
    background-color: var(--blend-color-1);
	background-size: cover;
	background-blend-mode: var(--blend-mode-1);
	/*transition: box-shadow 1s, height 2s; */
}